@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');


body {
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: crimson;
    font-family: 'Montserrat', sans-serif;

    // background-color: red;
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 1s;
}

@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }